
<%- include("partials/header"); -%>
    <div class="posts">
      <h1>Home</h1>
      <p>
        <%= startingContent %>
      </p>
    </div>

  <%  posts.forEach(function(post){ %>

    <div class="posts">
      <h1>
        <%=post.title%>
      </h1>
      <p>
        <%=post.content.substring(0, 500) + " ..." %>
          <a href="/posts/<%=post._id%>">Read More</a>
      </p>
    </div>


    <% }) %>

    <a href="/compose">
      <button class="compose">+</button>
    </a>


<%- include("partials/footer"); -%>
